.topmenu {
  float: right;
  width: 84%;
  height: 15%;
  margin-top: 20pt;
  margin-bottom: 20pt;
  font-size: 8pt;
  font-family: arial;

}

.app_icon {
  width: 50px;
  padding: 1em;
  }

.icon_text {
  font-weight: lighter;
  color: #4a4a4a;
  padding-right: 2em;
  }

.user_info {
  float: right;
  font-size: larger;
}
.sign_out_link {
  color: #00B8FF;
  margin-right: 10px;
  cursor: pointer;

  }

.user_name {
  margin-right: 10px;
  color: #4a4a4a;
  }

