
<div class="topmenu">

  <a href="https://qa-internal.sahajsoft.com/angular">
  <img class="app_icon" src="/angular/assets/icons/notepad.svg"> <span class="icon_text">TIMETRACKER</span></a>

  <a href="https://qa-xpensify.sahajsoft.com">
  <img class="app_icon" src="/angular/assets/icons/economy.svg"> <span class="icon_text">EXPENSIFY</span></a>

  <a href="https://qa-internal.sahajsoft.com/projects/index">
  <img class="app_icon" src="/angular/assets/icons/target.svg"> <span class="icon_text">DELIVERY</span></a>

  <a href="https://qa-internal.sahajsoft.com/sales/index">
  <img class="app_icon" src="/angular/assets/icons/piggy-bank.svg"> <span class="icon_text">DEMAND</span></a>

  <a href="https://qa-internal.sahajsoft.com/people/index">
  <img class="app_icon" src="/angular/assets/icons/hierarchical-structure.svg"> <span class="icon_text">PEOPLE</span></a>

  <span class="user_info">
  <span class="user_name">{{ user_name }}</span>

  <span class="sign_out_link" (click)="signOut()">Sign Out</span>
  </span>

</div>

