
<div class="timesheets_container">
  <div class="filters">

    <table class="table-striped">
      <thead>
        <th>From</th>
        <th>To</th>
        <th>Project/Task</th>
        <th>Client</th>
        <th>User</th>
        <th>Billability</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <td>
          <input  class="fix_size" type="text" ngbDatepicker #date1="ngbDatepicker" placeholder="{{selected_start_date|date: 'yyyy-MM-dd'}}"  (dateSelect) = "onCurrentStartDateSelect($event)"/>
          <img (click)="date1.toggle()" class="datepicker_icon" src="/angular/assets/icons/calendar.svg">
        </td>
        <td>
          <input  class="fix_size" type="text" ngbDatepicker #date2="ngbDatepicker" placeholder="{{selected_end_date|date: 'yyyy-MM-dd'}}" (dateSelect) = "onCurrentEndDateSelect($event)"/>
          <img (click)="date2.toggle()" class="datepicker_icon" src="/angular/assets/icons/calendar.svg">
        </td>
        <td>
          <select  class="form-control input" [(ngModel)]="selected_project">
            <option [ngValue]="null">All Projects</option>
            <option *ngFor="let project of projects" [ngValue]="project">
              {{project.project_name}}
            </option>
          </select>
        </td>
        <td>
          <select  class="form-control input" [(ngModel)]="selected_client">
            <option [ngValue]="null">All Clients</option>
            <option *ngFor="let client of clients" [ngValue]="client">
              {{client.client_name}}
            </option>
          </select>
        </td>
        <td>
          <select  class="form-control input" [(ngModel)]="selected_user">
            <option [ngValue]="null" selected>All Users</option>
            <option *ngFor="let user of users" [ngValue]="user">
              {{user.display_name}}
            </option>
          </select>
        </td>
        <td>
          <select  class="form-control input" [(ngModel)]="selected_billability">
            <option ngValue="">Both</option>
            <option ngValue="1"> Yes </option>
            <option ngValue="0"> No </option>
          </select>
        </td>
        <td>
          <button class="btn btn-primary" (click)="click_view_button()">View</button>
        </td>
        <td>
          <button class="btn" >Cancel</button>
        </td>
      </tbody>
    </table>

  </div>
  <div class="float-right">
    <img class="datepicker_icon" src="/angular/assets/icons/spreadsheet-ascending-order.svg" (click)="click_export_button()">
    <button class="btn edit_btn" (click)="click_export_button()">Export to Spreadsheet</button>
  </div>

  <div class="scroll-area">
    <table class="table table-striped timesheet_table">
      <thead>

      <th>Project/ Task</th>
      <!-- <th>Client</th> -->
      <th>Users</th>
      <th>Billable?</th>
      <th>Description</th>
      <th *ngFor="let cell of date_array">
        {{ cell | date: 'MMM, dd' }}
      </th>
      <th>Total</th>
      </thead>
      <tbody>
      <tr *ngFor="let time_row of new_time_rows; let i = index">
        <td>
          <p class="wrapped">
            {{ time_row.client.client_name }}-{{ time_row.project.project_name}}
          </p>
        </td>
        <!-- <td>
          <p>
            {{ time_row.client.name }}
          </p>
        </td> -->
        <td>
          <p>
            {{ time_row.user.display_name }}
          </p>
        </td>
        <td>
          <p>
            {{ time_row.billable }}
          </p>
        </td>
        <td>
          <p>
            {{ time_row.description }}
          </p>
        </td>

        <td *ngFor="let cell of time_row.time_cells" > <!--//Don;t use properties!-->
          <p>
            {{ cell.hours_spent }}
          </p>
        </td>

        <td>
          <p>
            {{ get_row_total_hours(time_row) | number:0}}
          </p>
        </td>

      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4">Net work hours this week</td>
        <td *ngFor="let cell of date_array">
          <p>
            {{ get_column_total_hours(cell) | number:0}}
          </p>
        </td>
        <td>
          <p>
            {{ get_total_hours() | number:0}}
          </p>
        </td>
      </tr>
      </tfoot>
    </table>


</div>




