.timesheets_container {
  height: 85%;
  color: #545b62;
  font-size: 10pt;
  font-family: arial;
}

.datepicker_icon {
  width: 20px;
  color: #00B8FF;
}

.edit_btn {
  background-color: inherit;
  color: darkgray;
  border: none;

}

button{
  font-size: 10pt;
  margin: 5pt;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F6FCFF;
}

.timesheet_table {
  padding: 10px;
  padding-bottom: 30px;
  /*border-bottom: 1px solid;*/
}

.table td {
  border-top: none;
  font-weight: lighter;
  font-size: small;
}

.table th {
  border-top: none;
  border-bottom: none;
  font-weight: lighter;
  font-size: normal;
}

tfoot{
  font-weight: bold;
  color: black;
  border-top: 1px solid;
}

.table td,
.table th
{
  text-align:left;
}

.table td + td,
.table th + th
{
  text-align:center;
  min-width: 100px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

td>p.wrapped{
  height: auto;
  width: 100pt;
  overflow: hidden
}

img:hover{
  cursor: pointer;
}

.fix_size{
  width: 70pt;
  color: #000;
}

.filters{
  margin: 10px;
  background-color: #415C75;
  padding: 5px;
  font-size: 9pt;
  color: lightgray;
  border-radius: 0.25rem;
}

.filters>table>tbody>td>.input{
  border-color: #00B8FF;
  font-size: 9pt;
  width: 100pt;
  height: 25pt;
  margin: 5pt;
}

.scroll-area{
  width:100%;
  height:calc(100% - 200px);
  float:left;
  overflow-y:scroll;
}


select:required:invalid {
color: #999;
}
option[value=””][disabled] {
display: none;
}
option {
color: #000;
}
