<app-navbar></app-navbar>
<app-topmenu></app-topmenu>

<div class="timesheets_container">
  <!--<ngb-tabset>-->
    <!--<ngb-tab title="Time Sheet">-->
      <!--<ng-template ngbTabContent>-->
        <!--<app-timesheets></app-timesheets>-->
      <!--</ng-template>-->
    <!--</ngb-tab>-->

    <!--<ngb-tab title="Views">-->
      <!--<ng-template ngbTabContent>-->
        <!--<app-report></app-report>-->
      <!--</ng-template>-->
    <!--</ngb-tab>-->
  <!--</ngb-tabset>-->

  <router-outlet></router-outlet>

</div>






