.navbar {
  width: 15%;
  height: 100vh;
  background: linear-gradient(#50A6F9, #0767C3);
  opacity: 0.85;
  position: absolute;
  text-decoration: none;
  padding-left: 0;
  padding-right:0;
  float: left;
  font-size: 10pt;
  font-family: arial;
}

.navbar a {
  color: white;
  display: block;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #2893F9;
}

.sahaj_logo {
  width: 100%;
  padding: 30px;
  position: absolute;
  top: 1em;
}

.navbar_app_link_container {
  width: 100%;
}
.navbar_app_link {
  font-size: 1rem;
  font-weight: lighter;
  width: 100%;
  padding-left: 0;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}
