<div class="navbar">
  <img src="/angular/assets/icons/sahaj_logo_white_minus_inspiring_brilliance.png" class="sahaj_logo">
  <span class="navbar_app_link_container">
    <a  class="navbar_app_link" routerLink="/timesheet" routerLinkActive="active">Timesheets</a>
  </span>
  <span class="navbar_app_link_container" style="position: relative;
    top: -42%;">
    <a class="navbar_app_link" routerLink="/report" routerLinkActive="active">Views</a>
  </span>
</div>


