
<div class="timesheets_container">
  <div class="week_header">
    <div class="week_label"> Week: </div>
    <div class="week_range">{{ week_label() }}</div>


    
    <input  class="fix_size" [style.visibility]="'hidden'" id="popupDatepicker" type="text" ngbDatepicker #date1="ngbDatepicker" (dateSelect) = "change_date_selection($event)"/>
    <img (click)="date1.toggle()" class="datepicker_icon" src="/angular/assets/icons/calendar.svg">





    <img class="datepicker_icon" src="/angular/assets/icons/left.png" id="previousWeek" (click)="click_select_previous_week()">
    <img class="datepicker_icon" src="/angular/assets/icons/right.png" id="comingWeek" (click)="click_select_coming_week()">

    <button  [hidden]="TIMESHEET_CREATE_BUTTON_HIDDEN" class="timesheet_create_button btn btn-primary" (click)="click_create_new_timesheet()"  >Create New Timesheet</button>
  </div>

  <button [hidden]="EDIT_BUTTON_HIDDEN" class="btn edit_btn" (click)="click_edit_button()">Edit</button>
  <table class="table table-striped timesheet_table">
    <thead>

    <th colspan="3">Project</th>
    <th>Billable?</th>
    <th *ngFor="let cell of build_dates_on_selected_week()">
      {{ cell.cell_id }}
    </th>
    <th>Week Hours</th>
    <th>Comments</th>
    <th>Delete</th>
    </thead>
    <tbody>
    <tr *ngFor="let time_row of time_rows; let i = index">
      <td colspan="3">
        <p class="wrapped" [hidden]="time_row?.is_in_edit_mode">
          {{ time_row.project?.project_name}}
        </p>
        <p [hidden]="!time_row.is_in_edit_mode">
          <select  class="form-control input" [(ngModel)]="time_row.project">
            <option *ngFor="let project of projects" [ngValue]="project" class="options">
                {{project?.project_name}}
            </option>
          </select>
        </p>

      </td>

      <td><!-- [class]="get_color_class(time_row.billable)">{{ time_row.billable ? 'Yes' : 'No' }}!-->
        <p class="wrapped" [hidden]="time_row.is_in_edit_mode">
            {{ time_row.billable}}
          </p>
          <p [hidden]="!time_row.is_in_edit_mode">
        <select class="form-control input" [(ngModel)]="time_row.billable">  
          <option [ngValue]="1"> Yes </option>
          <option [ngValue]="0"> No </option>
        </select>
        </td>

      <td *ngFor="let cell of time_row.time_cells" >
          <p [hidden]='time_row.is_in_edit_mode' ngClass="{{ get_color_class(cell.hours_spent) }}">
            {{ cell.hours_spent }}
          </p>
          <p [hidden]='!time_row.is_in_edit_mode'>
            <input type="number" [(ngModel)]="cell.hours_spent" ngClass="{{ get_color_class(cell.hours_spent) }} time_hours form-control input">
          </p>
      </td>

      <td ngClass="{{ get_color_class(get_row_total_hours(time_row)) }}">{{ get_row_total_hours(time_row) || "0" }}</td>

      <td>
        <p [hidden]='time_row.is_in_edit_mode'>
          {{ time_row.description }}
        </p>
        <p [hidden]='!time_row.is_in_edit_mode'>
          <input class="form-control input" type="text" [(ngModel)]="time_row.description">
        </p>

      </td>

      <td>
        <img src="/angular/assets/icons/delete(1).svg" class="delete_row_icon" (click)="click_remove_row(i, time_row)"/>
      </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="4">Net work hours this week</td>
      <td *ngFor="let cell of build_dates_on_selected_week()" ngClass="{{ get_color_class(get_column_total_hours(cell)) }}">
        {{ get_column_total_hours(cell) || "0" }}
      </td>
      <td ngClass="{{ get_color_class(get_total_hours()) }}">{{ get_total_hours() || "0" }}</td>
      <td></td>
      <td></td>
    </tr>
    </tfoot>
  </table>
  <div>
    <button [hidden]="ADD_ROW_BUTTON_HIDDEN" class="btn" id="add_new_row_btn" (click)="click_add_new_row()">+ Add New Row </button>
  </div>
  <div class="bottom_buttons">
    <button [hidden]="SAVE_BUTTON_HIDDEN" class="btn" id="cancel_btn" (click)="click_cancel()">Cancel </button>
    <button [hidden]="CANCEL_BUTTON_HIDDEN" class="btn btn-primary" id="save_btn" (click)="click_save_button()">Save Edits </button>
  </div>
</div>
