.timesheets_container {
  height: 85%;
  color: #545b62;
  font-size: 10pt;
  font-family: arial;

}

.week_header {
  padding: 1em;
}

.week_label {
  padding-right: 10px;
  display: inline;
}

.week_range {
  padding-right: 10px;
  display: inline-block;
  color: #00B8FF;
  min-width: 110px;

}

.datepicker_icon {
  padding-right: 10px;
  width: 35px;
}

.timesheet_create_button {
  display: inline;
  background-color: #00B8FF;
  border: none;
  font-weight: 100;
  width: 15%;
  font-size: small;
  padding: 5px;

}

.edit_btn {
  float: right;
  background-color: inherit;
  color: #00B8FF;
  border: none;
  margin-right: 25pt;

}

button{
  font-size: 10pt;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F6FCFF;
}

.timesheet_table {
  padding: 10px;
  padding-bottom: 30px;
  /*border-bottom: 1px solid;*/
}

.table td {
  border-top: none;
  font-weight: lighter;
  font-size: small;
}

.table th {
  border-top: none;
  border-bottom: none;
  font-weight: lighter;
  font-size: normal;
}

.delete_row_icon {
  width: 25px;
}

tfoot{
  font-weight: bold;
  color: black;
  border-top: 1px solid;
}

.table td,
.table th
{
  text-align:left;
}

.table td + td,
.table th + th
{
  text-align:center;
}

#add_new_row_btn{
  float: left;
  background-color: inherit;
  color: #00B8FF;
  border: none;
  margin-right: 25pt;
}

#cancel_btn{
  background-color: inherit;
  color: #00B8FF;
  border: none;
  margin-right: 10pt;
}

#cancel_btn{
  background-color: inherit;
  color: #00B8FF;
  border: none;
  margin-right: 10pt;
}
#save_btn{
  display: inline;
  background-color: #00B8FF;
  border: none;
  font-weight: 100;
  font-size: 10pt;
  padding-left: 20px;
  padding-right: 20px;

}

.bottom_buttons{
  position: absolute;
  left: 50%;
  margin-top: 30pt;
}

.time_hours{
  text-align: center;
  width: 40pt;
}

.input{
  border-color: #00B8FF;
  font-size: 10pt;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

td>p.wrapped{
  height: auto;
  width: 100pt;
  overflow: hidden;
}


.edited{
  color: #00B8FF;
}

.non_edited{
  color: #000000;
}

img:hover{
  cursor: pointer;
}

.fix_size{
  width: 0px;
}

.options{
  color:  #00B8FF;
}